

.equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.equipo h3{
    font-size: 2.5rem;
    font-family: "Prata",sans-serif;
    font-weight: 400;
    padding-bottom: 2px;
    border-bottom: 4px solid;
    display: inline-block;
}
.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.input-color{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 40px;
    border-radius: 50%;
    padding: 5px;
    border-color: 2px solid blue;
}

@media  (max-width: 768px) {
    .equipo h3{
        font-size: 1.5rem;
    }
}