.formulario{
    display:flex;
    justify-content:space-evenly;
    margin: 80px 40px;
    flex-wrap: wrap;
    gap: 20px;
}
.formulario form{
    max-width: 80%;
    background-color: #fec615;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
    padding: 8px 100px;
}

.formulario .form__titulo{
    font-size: 28px;
    font-weight: 400;
    color: #303030;
}